@import "tailwindcss";

header {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  padding: 6px 50px;
  background-color: #00000033;
  color: white;
  font-size: large;
}

.flex {
  display: flex;
  align-items: center;
  gap: 40px;
}

.background {
  background-image: url("./images/image.png");
  height: 700px;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  text-align: center;
}

.background2 {
  background-image: url("./images/image\ 263.png");
  height: 730px;
  color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.background h1 {
  font-size: 50px;
  font-weight: 500;
}

.background3 {
  background-image: url("./images/image\ 263\ \(1\).png");
  height: 750px;
  color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.background4 {
  background-image: url("./images/image\ 262.png");
  height: 600px;
  color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.background5 {
  background-image: url("./images/Group\ 67.png");
  height: 400px;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.backgroundDelivery1 {
  background-image: url("./images/image\ copy.png");
  height: 700px;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  text-align: center;
}

.backgroundDelivery2 {
  background-image: url("./images/image\ 262\ \(1\).png");
  height: 600px;
  color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.backgroundFaq1 {
  background-image: url("./images/image\ copy\ 2.png");
  height: 700px;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  text-align: center;
}

.backGroundFAQ {
  background-image: url("./images/Group\ 79\ \(1\).png");
  height: 350px;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
